@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes float3D {
  0% {
    transform: translateY(0px) rotateX(0deg) scale(1);
  }
  50% {
    transform: translateY(-10px) rotateX(8deg) scale(1.03);
  }
  100% {
    transform: translateY(0px) rotateX(0deg) scale(1);
  }
}

.animate-title {
  animation: float3D 3.5s ease-in-out infinite;
}
